<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionstring>
		<add name = "BFC"
			 connectionString = "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=BrickForgeCommanderDB;Integrated Security=True;Encrypt=True"
			 providerName = "System.Data.SqlClient" />
	</connectionstring>
</configuration>